[submodule "stage 1/mws-restaurant-stage-1"]
	path = stage 1/mws-restaurant-stage-1
	url = https://github.com/ajinkyapuar/mws-restaurant-stage-1
[submodule "stage 2/course-ajax"]
	path = stage 2/course-ajax
	url = git@github.com:ajinkyapuar/course-ajax.git
[submodule "stage 2/ud892"]
	path = stage 2/ud892
	url = git@github.com:ajinkyapuar/ud892.git
[submodule "stage 2/mws-restaurant-stage-2"]
	path = stage 2/mws-restaurant-stage-2
	url = https://github.com/ajinkyapuar/mws-restaurant-stage-2
[submodule "stage 3/course-ud303"]
	path = stage 3/course-ud303
	url = https://github.com/ajinkyapuar/course-ud303
[submodule "stage 3/web-workers-demo"]
	path = stage 3/web-workers-demo
	url = git@github.com:ajinkyapuar/web-workers-demo.git
[submodule "stage 3/udacity-qrcode"]
	path = stage 3/udacity-qrcode
	url = git@github.com:ajinkyapuar/udacity-qrcode.git
[submodule "stage 3/news-aggregator"]
	path = stage 3/news-aggregator
	url = git@github.com:ajinkyapuar/news-aggregator.git
